<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <TinyBttn_Connector>
            <version>1.0.0</version>
        </TinyBttn_Connector>
    </modules>
    <global>
        <helpers>
            <TinyBttn>
                <class>TinyBttn_Connector_Helper</class>
            </TinyBttn>
        </helpers>
        <blocks>
          <TinyBttn>
            <class>TinyBttn_Connector_Block</class>
          </TinyBttn>
          <checkout>
            <rewrite>
              <onepage_success>TinyBttn_Connector_Block_Checkout_Onepage_Success</onepage_success>
            </rewrite>
          </checkout>
        </blocks>
        <resources>
          <TinyBttn_connector_setup>
            <setup>
              <module>TinyBttn_Connector</module>
            </setup>
            <connection>
              <use>core_setup</use>
            </connection>
          </TinyBttn_connector_setup>
          <TinyBttn_connector_write>
            <connection>
              <use>core_write</use>
            </connection>
          </TinyBttn_connector_write>
          <TinyBttn_connector_read>
            <connection>
              <use>core_read</use>
            </connection>
          </TinyBttn_connector_read>
      </resources>
    </global>
    <frontend>
        <routers>
        <TinyBttn>
           <use>standard</use>
           <args>
               <module>TinyBttn_Connector</module>
               <frontName>TinyBttn</frontName>
           </args>
        </TinyBttn>
        <checkout>
            <args>
                <modules>
                    <TinyBttn before="Mage_Checkout">TinyBttn_Connector</TinyBttn>
                </modules>
            </args>
        </checkout>
        </routers>
        <layout>
            <updates>
                <TinyBttn>
                    <file>TinyBttn.xml</file>
                </TinyBttn>
            </updates>
        </layout>
    </frontend>

    <default>
        <TinyBttn>
            <endpoint>
                <catalog>https://rallyribbon.herokuapp.com/catalog</catalog>
                <discount>https://rallyribbon.herokuapp.com/discount</discount>
				<transaction>https://rallyribbon.herokuapp.com/transaction</transaction>
            </endpoint>
            <TinyBttn_authentication>
                <api_id><![CDATA[api_id]]></api_id>
				<api_pass><![CDATA[api_pass]]></api_pass>
                <api_secret><![CDATA[api_secret]]></api_secret>
            </TinyBttn_authentication>
        </TinyBttn>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <TinyBttn>
                                            <title>TinyBttn</title>
                                        </TinyBttn>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
     </adminhtml>
</config>
